modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"
packages = ["unzip", "gh"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 44040350
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run init:db"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[deployment]
deploymentTarget = "cloudrun"
